@model IEnumerable<ASPDatabase.Models.Car>

@{
    ViewData["Title"] = "Index";
    int totalWorkers = 0;
    decimal totalPay = 0M;
    decimal totalMessages = 0M;
    decimal averagePay = 0M;
}
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages)
            </th>
           
            <th>
                Calculated Pay
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            totalWorkers++;
            totalPay += item.GetPay();
            totalMessages += item.Messages;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages)
            </td>
            <td>
                @item.GetPay().ToString("c")
            </td>
               

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }


    </tbody>
</table>

@if (totalWorkers > 0)
{
    averagePay = totalPay / totalWorkers;

<div class="col-md-6 offset-3">
    <p>
        Total Workers: @totalWorkers
    </p>
    <p>
        Total Messages: @totalMessages
    </p>
    <p>
        Total Pay: @totalPay.ToString("c")
    </p>
    <p>
        Average Pay: @averagePay.ToString("c")
    </p>
</div>
}
